.BlogContainer{
    min-height: 100vh;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BlogContainerTitle{
    height: 7vh;
    background-color: #006eff;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.BlogContainerTitle a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    
}

.BlogContainerTitle p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.BlogContainerBlogContent{
    top: 10px;
    position: relative;
    width: 95%;
    font-family: 'Poppins', sans-serif;
    height: auto;
}